{%extends "skeleton.html"%}
{%block main%}

            <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Hi,</h1>
            </div>  
        </div>  
        <div class="col-lg-8">

            <p>if you find idea of tweeting pralka (washing machine) interesting and for any reason
            want to contact me, here are my contact informations: </p>

            
            <div class="list-group">
                <a href="mailto:ola@klapcinska.im" class="list-group-item">
                    <h4 class="list-group-item-heading">Email</h4>
                    <p class="list-group-item-text">ola@klapcinska.im</p>
                </a>
            
                <a href="https://github.com/aklapcin" class="list-group-item">
                    <h4 class="list-group-item-heading">Github</h4>
                    <p class="list-group-item-text">aklapcin</p>
                </a>
                <a href="https://www.twitter.com/eggi87" class="list-group-item">
                    <h4 class="list-group-item-heading">Twitter</h4>
                    <p class="list-group-item-text">eggi87</p>
                </a>
            
            </div>
            

        </div>
        
    </div>
{%endblock%}